fastapi==0.115.6
pydantic==2.10.4
feedgen==1.0.0
feedparser==6.0.11
loguru==0.7.3
openai==1.58.1
peewee==3.17.8
python-dotenv==1.0.1
trafilatura==2.0.0
psycopg2-binary==2.9.10
pyyaml==6.0.2
requests==2.32.3
redis==5.2.1
fastapi-limiter==0.1.6
uvicorn[standard]==0.34.0
qdrant-client~=1.12.1
chevron~=0.14.0
APScheduler~=3.11.0
youtube-transcript-api~=0.6.3
tiktoken~=0.8.0
tenacity~=9.0.0