fastapi==0.115.12
pydantic==2.11.3
feedgen==1.0.0
feedparser==6.0.11
loguru==0.7.3
openai==1.73.0
peewee==3.17.9
python-dotenv==1.1.0
trafilatura==2.0.0
psycopg2-binary==2.9.10
pyyaml==6.0.2
redis==5.2.1
fastapi-limiter==0.1.6
uvicorn[standard]==0.34.1
qdrant-client~=1.12.1
tiktoken~=0.8.0
fastapi-cache2~=0.2.2
httpx~=0.28.1
peewee-async[postgresql]~=1.1.0
beautifulsoup4~=4.12.3
validators~=0.34.0
langchain_text_splitters~=0.3.5
undetected-chromedriver~=3.5.5
langchain-text-splitters~=0.3.5
html2text~=2024.2.26
chevron~=0.14.0
undetected-chromedriver~=3.5.5
requests~=2.32.3
