name: news-fusion

services:
  web:
    container_name: news-fusion-server
    build:
      dockerfile: ./docker/Dockerfile
      context: ..
    restart: always
    ports:
      - "4782:4782"
    expose:
      - "4782"
    environment:
      - REDIS_URL=redis://redis:6379
      - QDRANT_CONNECTION_STRING=http://qdrant:6333
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/news_fusion
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 100M

  # Postgres is used for storing the RSS feed data
  postgres:
    container_name: news-fusion-pg
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: news_fusion
    volumes:
      - pg:/var/lib/postgresql/data

  # Qdrant is used for storing the embeddings
  qdrant:
    container_name: news-fusion-qdrant
    image: qdrant/qdrant:latest
    restart: unless-stopped
    volumes:
      - qdrant:/qdrant/storage:z

  # Redis is used for caching
  redis:
    container_name: news-fusion-redis
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis:/data
    ports:
      - "6379:6379"

volumes:
  pg:
  qdrant:
  redis: