name: news-fusion
services:
  scraper:
    build:
      dockerfile: ./docker/scraper.Dockerfile
      context: ..
    restart: always
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/news_fusion
      - QDRANT_CONNECTION_STRING=http://qdrant:6333
      - REDIS_URL=redis://redis:6379
    container_name: news-fusion-scraper
  web:
    build:
      dockerfile: ./docker/server.Dockerfile
      context: ..
    restart: always
    ports:
      - "4782:4782"
    expose:
      - "4782"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/news_fusion
      - QDRANT_CONNECTION_STRING=http://qdrant:6333
      - REDIS_URL=redis://redis:6379
    container_name: news-fusion-server
  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: news_fusion
    volumes:
      - /etc/news-fusion/pg:/var/lib/postgresql/data
    container_name: news-fusion-db
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    volumes:
      - /etc/news-fusion/qdrant:/qdrant/storage:z
    container_name: news-fusion-qdrant
  redis:
    image: redis:alpine
    container_name: news-fusion-redis
    volumes:
      - /etc/news-fusion/redis:/data
    ports:
      - "6379:6379"
