name: news-fusion

services:
  web:
    container_name: news-fusion-server
    image: ghcr.io/ckt1031/news-fusion-server:latest
    restart: unless-stopped
    ports:
      - "4782:4782"
    expose:
      - "4782/tcp"
    environment:
      - LOGURU_LEVEL=INFO
      - IS_PRODUCTION=true
      - REDIS_URL=redis://:1234@redis:6379
      - QDRANT_CONNECTION_STRING=http://qdrant:6333
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/news_fusion
      - DISCORD_BOT_TOKEN=00000
    healthcheck:
      test: ["CMD-SHELL", "wget -q -O - http://localhost:4782/health | grep -q 'OK'"]
      interval: 30s
      timeout: 10s
      retries: 5

    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 100M

  # Postgres is used for storing the RSS feed data
  postgres:
    container_name: news-fusion-pg
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: news_fusion
    volumes:
      - pg:/var/lib/postgresql/data

  # Qdrant is used for storing the embeddings
  qdrant:
    container_name: news-fusion-qdrant
    image: qdrant/qdrant:latest
    restart: unless-stopped
    volumes:
      - qdrant:/qdrant/storage:z

  # Redis is used for caching
  redis:
    container_name: news-fusion-redis
    image: redis:latest
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=1234
    command: sh -c 'redis-server --requirepass "$${REDIS_PASSWORD}"'
    volumes:
      - redis:/data
    ports:
      - "6379:6379"
    expose:
      - "6379"

volumes:
  pg:
  qdrant:
  redis: