name: Crawl News
on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  Crawl:
    name: Crawl
    runs-on: self-hosted
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - run: pip install --upgrade -r requirements.txt

      - name: Convert Base64 Environment Variable into config File
        run: echo "${{ secrets.CONFIG_YAML_BASE64 }}" | base64 -d > config.yaml

      - run: LOGURU_LEVEL="INFO" python crawl.py
        env:
            DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}

            DATABASE_URL: ${{ secrets.DATABASE_URL }}

            QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
            QDRANT_CONNECTION_STRING: ${{ secrets.QDRANT_CONNECTION_STRING }}

            OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
            OPENAI_API_BASE_URL: ${{ secrets.OPENAI_API_BASE_URL }}
            OPENAI_CHAT_MODEL: ${{ secrets.OPENAI_CHAT_MODEL }}
