name: Crawl Forum
on:
  workflow_dispatch:
  schedule:
    - cron: "35 * * * *"

jobs:
  Crawl:
    name: Crawl
    runs-on: self-hosted
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.8"
          cache: "pip"

      - run: pip install --upgrade -r requirements.txt

      - run: python crawl.py --only-forum --check-forum
        env:
          LOGURU_LEVEL: "INFO"

          REDIS_URL: ${{ secrets.REDIS_URL }}
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}

          DATABASE_URL: ${{ secrets.DATABASE_URL }}

          QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
          QDRANT_CONNECTION_STRING: ${{ secrets.QDRANT_CONNECTION_STRING }}

          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_API_BASE_URL: ${{ secrets.OPENAI_API_BASE_URL }}
          OPENAI_CHAT_MODEL: ${{ secrets.OPENAI_CHAT_MODEL }}
