name: Lint Project
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12.8'
          cache: 'pip'

      - run: pip install --upgrade -r requirements.txt

      - run: pip install ruff && ruff check .
