name: Checking
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Lint:
    name: Lint Project
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Packages
        run: |
          pip install -r requirements.txt
          pip install ruff

      - name: Lint Project
        run: ruff check .
