name: Test

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        with:
          TOOLS_API_BASE_URL: ${{ secrets.TOOLS_API_BASE_URL }}

      - name: Run lint
        run: pnpm run lint

      - name: Test
        run: TESTING=1 pnpm test
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DATABASE_CERT: ${{ secrets.DATABASE_CERT }}
