name: TypeCheck and Lint

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  test:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 20

      - name: Install Dependencies
        run: |
          pnpm install
          pnpm run generate-tool-api-schema
        env:
          TOOLS_API_BASE_URL: ${{ secrets.TOOLS_API_BASE_URL }}

      - name: Check Project
        run: pnpm run lint

      - name: Test
        run: TESTING=1 pnpm test
